<%= tag.div(class: @container_class) do %>
  <%= tag.div(class: @trigger_class, tabindex: "0", role: "button") do %>
    <%= trigger %>
  <% end %>

  <%= tag.ul(class: @menu_class, tabindex: "0") do %>
    <% items.each do |item| %>
      <li>
        <%= item %>
      </li>
    <% end %>
  <% end %>
<% end %>
