<% if editable? %>
  <%= render DropdownComponent.new(trigger_class: ["badge badge-sm cursor-pointer gap-1", @variant]) do |component| %>

    <% component.with_trigger do %>
      <%= @category.capitalize %>
      <%= lucide_icon("chevron-down", class: "h-3 w-3") %>
    <% end %>

    <% @categories.each do |category_label, category_id| %>
      <% component.with_item(class: ("menu-disabled" if @category == category_id)) do %>
        <%= button_to(
          update_category_recipe_path(@recipe, category: category_id),
          method: :patch,
          class: "cursor-pointer gap-1",
          disabled: @category == category_id,
        ) do %>
          <%= render RecipeCategoryComponent.new(category: category_id) %>
          <% if @category == category_id %>
            <%= lucide_icon("check", class: "h-4 w-4 text-base-content") %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

  <% end %>
<% else %>
  <span class="badge badge-sm <%= @variant %>">
    <%= @category.capitalize %>
  </span>
<% end %>
