<% if editable? %>
  <%= render DropdownComponent.new(trigger_class: ["badge badge-sm cursor-pointer gap-1", @variant]) do |component| %>
    <% component.with_trigger do %>
      <%= @category.capitalize %>
      <%= lucide_icon("chevron-down", class: "h-3 w-3") %>
    <% end %>

    <% @categories.each do |category_label, category_id| %>
      <% component.with_item do %>
        <li>
          <%= button_to(
            update_category_recipe_path(@recipe, category: category_id),
            method: :patch,
            # TODO: move this to global css for dropdowns - should be able to handle Rails form-buttons
            form_class: "block p-0",
            class: "flex items-center gap-1 p-2 w-full text-left",
          ) do %>
            <%= render RecipeCategoryComponent.new(category: category_id) %>
            <%= lucide_icon("check", class: "h-4 w-4") if @category == category_id %>
          <% end %>
        </li>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <span class="badge badge-sm <%= @variant %>">
    <%= @category.capitalize %>
  </span>
<% end %>
