<%= form_with model: recipe, class: "w-full" do |form| %>
  <%= turbo_stream.update :flash, partial: "shared/flashes" %>
  <% is_editing = @recipe.persisted? %>

  <div class="space-y-4 mb-6">
    <%= render FormErrorsComponent.new(model: @recipe) %>

    <label class="form-control">
      <div class="label">
        <span class="label-text">Name</span>
      </div>
      <%= form.text_field :name,
                      class: "input input-bordered w-full",
                      placeholder: "Tomato Soup",
                      autofocus: true %>
    </label>

    <label class="form-control">
      <div class="label">
        <span class="label-text">Category</span>
      </div>

      <%= form.select :category,
                  options_for_select(
                    Recipe.categories.keys.map do |category|
                      [category.humanize, category]
                    end,
                    @recipe.category,
                  ),
                  { prompt: "Pick a Category" },
                  { data: { controller: "select" } } %>
    </label>

    <%# New recipe forms should be simple - show other fields during edit %>
    <% if is_editing %>
      <label class="form-control" for="instructions">
        <div class="label">
          <span class="label-text">Instructions</span>
        </div>
      </label>
      <div>
        <%= form.rich_textarea :instructions %>
      </div>

      <label class="form-control">
        <div class="label">
          <span class="label-text">Image</span>
        </div>
        <%= form.file_field :image, class: "file-input file-input-bordered w-full" %>
        <% if @recipe.image.attached? %>
          <%= image_tag @recipe.image, class: "mt-2 max-w-[200px] rounded-md" %>
        <% end %>
      </label>
    <% end %>
  </div>

  <div class="modal-action">
    <%= form.submit is_editing ? "Update" : "Add Recipe", class: "btn btn-primary" %>
    <button class="btn" data-action="click->modals#close">Never mind</button>
  </div>
<% end %>
