<%= form_with model: recipe, class: "w-full" do |form| %>
  <%= turbo_stream.update :flash, partial: "shared/flashes" %>
  <% is_editing = recipe.persisted? %>

  <div class="space-y-4 mb-6">
    <%= render FormErrorsComponent.new(model: recipe) %>

    <label class="form-control">
      <div class="label">
        <span class="label-text">Name</span>
      </div>
      <%= form.text_field(
        :name,
        class: "input",
        placeholder: "Tomato Soup",
        autofocus: true,
      ) %>
    </label>

    <%= form.hidden_field :category, value: recipe.category %>
  </div>

  <div class="modal-action">
    <%= form.submit is_editing ? "Update" : "Add Recipe", class: "btn btn-primary" %>
    <button class="btn" data-action="click->modals#close">Never mind</button>
  </div>
<% end %>
