<%= form_with model: recipe, class: "w-full max-w-sm" do |form| %>
  <%= turbo_stream.update :flash, partial: "shared/flashes" %>

  <div class="space-y-4 mb-6">
    <%= render FormErrorsComponent.new(model: @recipe) %>

    <label class="form-control">
      <div class="label">
        <span class="label-text">Name</span>
      </div>
      <%= form.text_field :name,
                      class: "input input-bordered w-full",
                      placeholder: "Tomato Soup",
                      autofocus: true %>
    </label>

    <label class="form-control">
      <div class="label">
        <span class="label-text">Category</span>
      </div>

      <%= form.select :category,
                  options_for_select(
                    Recipe.categories.keys.map do |category|
                      [category.humanize, category]
                    end,
                    @recipe.category,
                  ),
                  { prompt: "Pick a Category" },
                  { data: { controller: "select" } } %>
    </label>

    <label class="form-control" for="instructions">
      <div class="label">
        <span class="label-text">Instructions</span>
      </div>
    </label>
    <div>
      <%= form.rich_textarea :instructions %>
    </div>

    <label class="form-control">
      <div class="label">
        <span class="label-text">Image</span>
      </div>
      <% if @recipe.image.attached? %>
        <%= image_tag @recipe.image, class: "mb-2" %>
      <% end %>
      <%= form.file_field :image, class: "file-input file-input-bordered w-full" %>
    </label>
  </div>

  <div class="space-x-2">
    <%= form.submit @recipe.persisted? ? "Update" : "Add Recipe",
                class: "btn btn-primary" %>

    <% if @recipe.persisted? %>
      <%= link_to "Cancel", @recipe, class: "btn btn-ghost" %>
    <% else %>
      <%= link_to "Cancel", recipes_path, class: "btn btn-ghost" %>
    <% end %>
  </div>
<% end %>
