<%= turbo_frame_tag dom_id(@recipe, :ingredients) do %>
  <h3 class="font-semibold mb-2 flex items-center gap-2">
    <span>Ingredients</span>
    <% unless recipe.ingredients.empty? %>
      <%= link_to new_recipe_ingredient_path(recipe),
        class: "btn btn-ghost btn-xs",
        data: { turbo_frame: "modal" } do %>
        <%= lucide_icon("circle-plus", class: "h-4 w-4") %>
      <% end %>
    <% end %>
  </h3>
  <% if recipe.ingredients.empty? %>
    <div class="space-y-2">
      <%= link_to new_recipe_ingredient_path(recipe),
        class: "btn btn-sm btn-ghost mt-2",
        data: { turbo_frame: "modal" } do %>
        <%= lucide_icon("circle-plus", class: "h-4 w-4") %>
        Add first ingredient
      <% end %>
    </div>
  <% end %>
  <div class="flex flex-col gap-2 w-full max-w-sm">
    <% recipe.ingredients.each do |ingredient| %>
      <div class="flex items-center gap-2 group">
        <%= link_to ingredient,
        edit_recipe_ingredient_path(recipe, ingredient),
        class:
          "flex-1 px-2 py-1 border border-transparent group-hover:border-base-300 rounded-lg",
        data: {
          turbo_frame: "modal",
        } %>

        <%= button_to [@recipe, ingredient],
        class: "btn btn-ghost btn-xs md:opacity-0 md:group-hover:opacity-100",
        method: :delete,
        title: "Remove",
        data: {
          turbo_confirm: "Remove ingredient?",
        } do %>
          <%= lucide_icon("trash-2", class: "h-4 w-4") %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
