<%= turbo_frame_tag dom_id(@recipe, :instructions) do %>
  <% if recipe.instructions.present? %>
    <h3 class="text-lg font-semibold">Instructions</h3>

    <%= link_to(
      edit_instructions_recipe_path(recipe),
      class: "block cursor-text px-2 py-4 border border-transparent hover:border-base-300 rounded-lg",
    ) do %>
      <div>
        <%= recipe.instructions %>
      </div>
    <% end %>
  <% else %>
    <%= link_to(
      edit_instructions_recipe_path(recipe),
      class: "btn btn-sm btn-ghost mt-2",
    ) do %>
      <%= lucide_icon("pencil", class: "h-4 w-4") %>
      <span>Add Instructions</span>
    <% end %>
  <% end %>
<% end %>
