<%= turbo_frame_tag dom_id(@recipe, :name) do %>
  <% is_form = local_assigns[:form] || false %>

  <%= tag.div data: { controller: ("toggle" if is_form) } do %>
    <div
      class="flex items-center gap-2 <%= 'hidden' if is_form %>"
      data-toggle-target="toggleable"
    >

      <%= link_to(
        edit_name_recipe_path(recipe),
        class: "cursor-text hover:underline decoration-dotted",
        title: "Edit",
      ) do %>
        <span><%= recipe.name %></span>
      <% end %>

      <%= render DropdownComponent.new do |component| %>

        <% component.with_trigger(class: "btn btn-ghost btn-xs") do %>
          <%= lucide_icon("more-horizontal", class: "h-4 w-4") %>
        <% end %>

        <% component.with_item do %>
          <%= button_to(
            recipe,
            class: "gap-2",
            method: :delete,
            data: {
              turbo_confirm: "Are you sure?",
              turbo_frame: "_top",
            }
          ) do %>
            <%= lucide_icon("trash-2", class: "h-4 w-4") %>
            <span>Delete</span>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <% if is_form %>
      <%= form_with(
        model: @recipe,
        url: update_name_recipe_path,
        class: "flex gap-2 w-full",
        data: { toggle_target: "toggleable" },
      ) do |form| %>
        <%= form.text_field(
          :name,
          class: "input input-sm",
          placeholder: "Tomato Soup",
          autofocus: true,
        ) %>

        <button class="btn btn-sm btn-primary btn-square" type="submit" title="Save">
          <%= lucide_icon("check", class: "h-4 w-4") %>
        </button>
        <button
          class="btn btn-ghost btn-sm btn-square"
          type="button"
          data-action="toggle#toggle"
          title="Cancel"
        >
          <%= lucide_icon("undo-2", class: "h-4 w-4") %>
        </button>
      <% end %>
    <% end %>
  <% end %>
<% end %>
