<% if local_assigns[:full] %>
  <%= turbo_frame_tag :recipe, class: "card bg-base-100 shadow-xl" do %>
    <%= turbo_stream.update :flash, partial: "shared/flashes" %>

    <%= render "image_header", recipe: recipe %>

    <div class="card-body">
      <h2 class="card-title group">
        <%= render "name_header", recipe: recipe %>
      </h2>
      <div class="mb-4">
        <%= render "category", recipe: recipe %>
      </div>

      <%= render "ingredients", recipe: recipe %>

      <hr class="my-3"/>
      <%= render "instructions", recipe: recipe %>
    </div>
  <% end %>
<% else %>
  <%= render RecipeListItemComponent.new(recipe: recipe) %>
<% end %>
