<%= turbo_frame_tag :recipe, class: "card bg-base-100 shadow-xl" do %>
  <%= turbo_stream.update :flash, partial: "shared/flashes" %>

  <figure>
    <%= image_tag @recipe.image_or_placeholder(
      placeholder_options: {
        width: 900,
        height: 192,
      },
    ),
    class: "h-48 bg-base-100 w-full object-cover" %>
  </figure>
  <div class="card-body">
    <h2 class="card-title">
      <span><%= @recipe.name %></span>

      <%= link_to edit_recipe_path(@recipe), class: "btn btn-ghost btn-xs", title: "Edit" do %>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="w-4 h-4"
        ><path
            d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z"
          /><path d="m15 5 4 4"/></svg>
      <% end %>
      <%= button_to @recipe,
        class: "btn btn-ghost btn-xs",
        method: :delete,
        title: "Remove",
        data: {
          turbo_confirm: "Are you sure?",
          turbo_frame: "_top",
        } do %>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="w-4 h-4"
        ><path d="M3 6h18"/><path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"/><path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"/><line x1="10" x2="10" y1="11" y2="17"/><line x1="14" x2="14" y1="11" y2="17"/></svg>
      <% end %>
    </h2>
    <div class="mb-4">
      <%= render RecipeCategoryComponent.new(category: @recipe.category) %>
    </div>

    <h3 class="font-semibold">Ingredients</h3>
    <ul class="list-disc list-inside pl-2">
      <% @recipe.ingredients.each do |ingredient| %>
        <li>
          <%= ingredient.amount %><%= ingredient.unit %>
          <%= ingredient.product.name %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
