<div class="hero">
  <div class="hero-content w-full flex-col lg:flex-row-reverse lg:justify-end lg:gap-12">
    <div class="text-center lg:text-left">
      <h1 class="text-4xl font-bold">Forgot your password?</h1>
    </div>
    <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: "card-body", method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-control">
          <%= f.label :email, class: "label" %>
          <%= f.email_field :email, autofocus: true, placeholder: "Email", autocomplete: "email", class: "input input-bordered w-full" %>
        </div>

        <div class="form-control mt-6">
          <%= f.submit "Reset your password", class: "btn btn-primary" %>
        </div>

        <%= render "devise/shared/links" %>
      <% end %>
    </div>
  </div>
</div>
