<div class="flash-messages mb-4 space-y-2" data-turbo-temporary>
  <% flash.each do |type, msg| %>
    <div
      role="alert"
      class="alert alert-<%= type %> shadow"
      data-controller="self-yeeter"
    >
      <% case type %>
      <% when "notice" %>
        <%= lucide_icon("circle-alert", class: "h-6 w-6") %>
      <% when "alert" %>
        <%= lucide_icon("triangle-alert", class: "h-6 w-6") %>
      <% when "error" %>
        <%= lucide_icon("circle-x", class: "h-6 w-6") %>
      <% when "success" %>
        <%= lucide_icon("circle-check", class: "h-6 w-6") %>
      <% end %>

      <span><%= msg %></span>

      <button
        class="btn btn-sm btn-<%= type %>"
        data-action="click->self-yeeter#yeet"
      >
        <%= t("flash.alert.ack_button") %>
      </button>
    </div>
  <% end %>
</div>
