<nav class="mb-10 flex justify-between">
  <div class="text-3xl font-bold">
    <%= link_to root_path, class: 'text-primary -skew-y-6 block' do %>
      CookingBuddy
    <% end %>
  </div>

  <div class="flex items-center gap-3">
    <% if user_signed_in? %>
      <%= render DropdownComponent.new(align_end: true) do |component| %>

        <% component.with_trigger(class: "flex mb-1 cursor-pointer avatar placeholder") do %>
          <div
            class="
              w-10 rounded-full bg-neutral text-neutral-content ring-primary
              ring-offset-base-100 ring-offset-2 hover:ring-1
            "
          >
            <%- if current_user.image_url? %>
              <img src="<%= current_user.image_url %>"/>
            <%- else %>
              <span><%= current_user.initials %></span>
            <%- end %>
          </div>
        <% end %>

        <% component.with_item do %>
          <div class="menu-title w-full flex flex-col">
            <span>
              Hi,
              <%= current_user.first_name %>!
            </span>

            <small
              class="w-full text-ellipsis overflow-hidden whitespace-nowrap"
              title="<%= current_user.email %>"
            >
              <%= current_user.email %>
            </small>
          </div>
        <% end %>

        <% component.with_item do %>
          <%= link_to products_path do %>
            <%= lucide_icon("package-search", class: "h-5 w-5") %>
            <span>Manage Products</span>
          <% end %>
        <% end %>

        <% component.with_item do %>
          <%= button_to(
            destroy_user_session_path,
            method: :delete,
            title: 'Sign out',
            class: "gap-2",
          ) do %>
            <%= lucide_icon("log-out", class: "h-5 w-5") %>
            <span>Sign Out</span>
          <% end %>
        <% end %>

      <% end %>
    <% end %>
  </div>
</nav>
