<nav class="mb-10 flex justify-between">
  <div class="text-3xl font-bold">
    <%= link_to root_path, class: 'text-primary -skew-y-6 block' do %>
      CookingBuddy
    <% end %>
  </div>

  <div class="flex items-center gap-3">
    <% if user_signed_in? %>
      <div class="dropdown dropdown-end dropdown-hover">
        <div tabindex="0" role="button" class="btn btn-sm btn-ghost">
          <%= lucide_icon("settings", class: "h-4 w-4") %>
        </div>

        <ul
          tabindex="0"
          class="
            dropdown-content menu bg-base-100 rounded-box z-[1] w-52 p-2 shadow
          "
        >
          <li>
            <%= link_to products_path do %>
              <%= lucide_icon("package-search", class: "h-5 w-5") %>
              <span>Manage Products</span>
            <% end %>
          </li>
          <li>
            <%= button_to destroy_user_session_path, class: 'flex items-center gap-2', method: :delete, title: 'Sign out' do %>
              <%= lucide_icon("log-out", class: "h-5 w-5") %>
              <span>Sign Out</span>
            <% end %>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
</nav>
