<%= form_with model: [@recipe, @ingredient], class: "w-full" do |form| %>
  <div class="space-y-2">
    <%= render FormErrorsComponent.new(model: @ingredient) %>

    <fieldset class="fieldset">
      <%= form.label :product_id, "Product", class: "label" %>

      <%= form.collection_select(
        :product_id,
        @products,
        :id,
        :name,
        { include_blank: "Pick a Product" },
        { class: "w-full", data: { controller: "select" } },
      ) %>
    </fieldset>

    <fieldset class="fieldset">
      <%= form.label :amount, "Amount", class: "label" %>

      <%= form.number_field(:amount, class: "input w-full", placeholder: "10", min: 1) %>
    </fieldset>

    <fieldset class="fieldset">
      <%= form.label :unit, "Unit", class: "label" %>

      <%= form.select(
        :unit,
        options_for_select(Ingredient.units.keys, @ingredient.unit || "g"),
        { include_blank: "Pick a unit" },
        { class: "w-full", data: { controller: "select" } },
      ) %>
    </fieldset>
  </div>

  <div class="modal-action">
    <%= form.submit @ingredient.persisted? ? "Update" : "Add Product",
                class: "btn btn-primary" %>
    <button class="btn" data-action="click->modals#close">Never mind</button>
  </div>
<% end %>
