<%= form_with model: product, class: "w-full max-w-sm" do |form| %>
  <%= turbo_stream.update :flash, partial: "shared/flashes" %>

  <div class="space-y-4 mb-6">
    <%= render FormErrorsComponent.new(model: @product) %>

    <label class="form-control">
      <div class="label">
        <span class="label-text">Name</span>
      </div>
      <%= form.text_field :name,
                      class: "input input-bordered w-full",
                      placeholder: "Tomato",
                      autofocus: true %>
    </label>

    <label class="form-control">
      <div class="label">
        <span class="label-text">Category</span>
      </div>

      <%= form.select :category,
                  options_for_select(
                    Product.categories.keys.map do |category|
                      [category.humanize, category]
                    end,
                    @product.category,
                  ),
                  { prompt: "Pick a Category" },
                  { class: "select w-full" } %>
    </label>
  </div>

  <div class="space-x-2">
    <%= form.submit @product.persisted? ? "Update" : "Add Product",
                class: "btn btn-primary" %>

    <% if @product.persisted? %>
      <%= link_to "Cancel", @product, class: "btn btn-ghost" %>
    <% else %>
      <%= link_to "Cancel",
      products_path,
      class: "btn btn-ghost",
      data: {
        turbo_frame: "_top",
      } %>
    <% end %>
  </div>
<% end %>
