<%= form_with model: product, class: "w-full max-w-sm" do |form| %>
  <%= turbo_stream.update :flash, partial: "shared/flashes" %>

  <div class="space-y-4 mb-6">
    <%= render FormErrorsComponent.new(model: @product) %>

    <fieldset class="fieldset">
      <label class="label" for="name">
        <span>Name</span>
      </label>

      <%= form.text_field :name, class: "input", placeholder: "Tomato", autofocus: true %>
    </fieldset>

    <fieldset class="fieldset">
      <label class="label" for="category">
        <span>Category</span>
      </label>

      <%= form.select(
        :category,
        options_for_select(
          Product.categories.keys.map { |category| [category.humanize, category] },
          @product.category,
        ),
        { prompt: "Pick a Category" },
        { class: "select" },
      ) %>
    </fieldset>
  </div>

  <div class="space-x-2">
    <%= form.submit(class: "btn btn-primary") %>

    <% if @product.persisted? %>
      <%= link_to "Never mind", @product, class: "btn btn-ghost" %>
    <% else %>
      <%= link_to "Never mind",
      products_path,
      class: "btn btn-ghost",
      data: {
        turbo_frame: "_top",
      } %>
    <% end %>
  </div>
<% end %>
