<div class="card bg-base-100 shadow-xl">
  <div class="card-body">
    <h2 class="card-title mb-6 flex justify-between">
      <span>Products</span>
      <%= link_to new_product_path, class: "btn btn-primary btn-outline btn-sm" do %>
        <%= lucide_icon("circle-plus", class: "h-4 w-4") %>
        Add
      <% end %>
    </h2>

    <div class="overflow-x-auto">
      <table class="table table-sm">
        <thead>
          <tr>
            <th>Name</th>
            <th>Category</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
            <tr>
              <td><%= link_to product.name, product, class: "link link-hover" %></td>
              <td>
                <%= render ProductCategoryComponent.new(category: product.category) %>
              </td>
              <td>
                <div class="flex gap-1">
                  <%= button_to product,
                  class: "btn btn-ghost btn-xs",
                  method: :delete,
                  data: {
                    turbo_confirm: "Are you sure?",
                  } do %>
                    <%= lucide_icon("trash-2", class: "h-4 w-4") %>
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>
