<div class="card bg-base-100 shadow-xl">
  <div class="card-body">
    <div>
      <%= link_to products_path, class: "btn btn-ghost btn-xs" do %>
        <%= lucide_icon("arrow-left", class: "h-4 w-4") %>
        Back to Products
      <% end %>
    </div>

    <%= turbo_frame_tag :product do %>
      <%= turbo_stream.update :flash, partial: "shared/flashes" %>

      <h2 class="card-title mb-4">
        <span><%= @product.name %></span>
        <%= link_to edit_product_path(@product), class: "btn btn-ghost btn-xs", title: "Edit", data: { turbo_action: "advance" } do %>
          <%= lucide_icon("pencil", class: "h-4 w-4") %>
        <% end %>
        <%= button_to @product,
        class: "btn btn-ghost btn-xs",
        method: :delete,
        title: "Remove",
        data: {
          turbo_confirm: "Are you sure?",
          turbo_frame: "_top",
        } do %>
          <%= lucide_icon("trash-2", class: "h-4 w-4") %>
        <% end %>
      </h2>

      <div>
        <%= render ProductCategoryComponent.new(category: @product.category) %>
      </div>

      <div class="stats">
        <div class="stat p-1">
          <div class="stat-title"># of Recipes</div>
          <div class="stat-value"><%= @product.recipes.count %></div>
        </div>
      </div>
    <% end %>
  </div>
</div>
